{% extends 'base.html' %}{% load i18n static %}
{% block title %}{{ lobby.name|striptags }}{% endblock %}
{% block head %}
<link href="{% static 'css/game.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block content %}
<div class="game {{ lobby.get_status }}" data-lobbyid="{{ lobby.id }}" data-userid="{{ request.user.id }}">
    <div id="lobby-title">{{ lobby.name|striptags }}
        {% if am_i_creator %}
        <a href="#" class="start-game-btn">{% trans "Start game" %}</a>
        {% endif %}
        <a href="{% url 'main' %}" class="leave-lobby-btn">{% trans "Leave" %}</a>
    </div>
    <div id="gamers">
        {% for gamer in gamers %}
        <div class="gamer g{{ forloop.counter0 }}
            {% if gamer.user == request.user %} me{% endif %}{% if gamer.left_time %} left{% elif not gamer.id or not gamer.join_time %} waiting{% endif %}"
             id="gamer_{{ gamer.user_id|default:'unkn' }}" data-uid="{{ gamer.user_id|default:'' }}">
            {% if not gamer.id %}
                {% trans 'waiting' %}
            {% else %}
            {{ gamer.user.username|striptags }}
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <div id="chat">

    </div>
    <div >
    <form id="msg-form">
        <input type="text" class="msg" name="msg">
        <input type="submit" style="display: none">
    </form>
    </div>
</div>
{%  endblock %}
{% block bottomjs %}
<script type="text/plain" id="tpl_message">
    <div class="message">
        <span class="username">#gamer#</span>
        <span class="msg-content">#message#</span>
    </div>
</script>
<script type="application/javascript">
{% if request.user.is_authenticated %}
window.user_id={{ request.user.id }};
{% endif %}
</script>
<script src="{% static 'js/waiting.js' %}"></script>
{% endblock %}