<div class="lobbies-list-frame frame" data-gamers_count="{{ gamers_count }}">
<h3>{{ list_title }}</h3>
<div class="lobbies-list-wrapper">
    <ul class="lobbies">
        {% for lobby in lobbies %}
        {# Это можно было бы просто отдать как данные и потом отрендерить на клиенте - тогда шаблон будет один #}
            <li id="lobby_{{ lobby.id }}" class="lobby">
                <a href="{% url 'lobby' lobby_id=lobby.id %}">{{ lobby.name|striptags }}</a>
                <span class="cur-cnt">
                    {{ lobby.cur_cnt|default:0 }}
                </span>
                {% if lobby.id in users_lobbies %}*{% endif %}
                <span class="status">{{ lobby.get_status_verbose }}</span>
            </li>
        {% endfor %}
    </ul>
</div>
</div>
