{% extends 'base.html' %}{% load static i18n %}
{% block title %}{% trans 'Wellcome' %} {{ request.user }}{% endblock %}
{% block head %}
<link href="{% static 'css/lists.css' %}" rel="stylesheet" type="text/css"/>
{%  endblock %}
{% block content %}
    <h1></h1>
{% if request.user.is_authenticated %}
    <div id="top-bar">
    {% trans 'Wellcome' %} {{ request.user }}
    <a href="{% url 'logout' %}" class="exit">{% trans "exit" %}</a>
    </div>
    <div id="content">
        <!-- Lobby lists -->
        {% trans "Two gamers lobbies" as two_gamers %}
        {% include "game/lobby-list.html" with gamers_count=2 list_title=two_gamers lobbies=lists.2 %}
        {% trans "Four gamers lobbies" as four_gamers %}
        {% include "game/lobby-list.html" with gamers_count=4 list_title=four_gamers lobbies=lists.4 %}
        <div id="create-lobby" class="frame">
            <h3>{% trans "Create lobby" %}</h3>
            <form action="{% url 'main' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="{% trans "Create lobby" %}">
            </form>
        </div>
    </div>
{% else %}
    {% include "game/welcome_forms.html" %}
{% endif %}
    {% if msg %}
        <div class="flash-msg">{{ msg }}</div>
    {%  endif %}
{% endblock %}
{% block bottomjs %}
<script type="application/javascript">
{% if request.user.is_authenticated %}
window.user_id={{ request.user.id }}
{% endif %}
window.MSG_JOIN_TO = "{% trans "Join to" %}";
window.MSG_YES = "{% trans "Yes" %}";
window.MSG_NO = "{% trans "No" %}";
window.STATUSES=JSON.parse("{{ STATUSES|escapejs }}");
window.time_to_allow_join={{ time_to_allow_join }};
</script>
<script type="text/plain" id="tpl_lobby">
    <li id="lobby_#id#" class="lobby">
        <a href="#url#">#name#</a>
        <span class="cur-cnt">#cur_cnt#</span>
        <span class="status">#status#</span>
    </li>
</script>
<script src="{% static "js/welcome_app.js" %}"></script>
{% endblock %}
