{% extends 'base.html' %}{% load i18n %}
{% block title %}
    {% trans "Registration" %}
{% endblock %}
{% block content %}
    <br>
    <div class="frame login-form">
<h3>{%  trans "Registration" %}</h3>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="{%  trans "Register me" %}">
</form>
    </div>
{% endblock %}