{% load i18n %}
    <br>
    <div class="frame login-form">
        <h3>{%  trans 'Login please' %}</h3>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {{ login_form.as_p }}
            <input type="submit" value="{% trans 'Login' %}">
            {% trans "or" %}
            <a href="{% url 'register' %}">{% trans "register" %}</a>
        </form>
</div>