/* TODO: put here reset.css content */
form p {
  margin: 3px;
  padding: 3px; }
  form p label {
    width: 180px;
    display: inline-block;
    border-bottom: dotted #555555 1px; }
  form p .helptext {
    font-size: 11px;
    font-family: sans-serif;
    display: block; }
form .errorlist {
  margin-left: 10px;
  font-size: 12px;
  font-family: sans-serif;
  color: red;
  font-weight: bold;
  list-style: none; }

.flash-msg {
  position: absolute;
  left: 50%;
  margin-left: -250px;
  width: 500px;
  border-radius: 7px 7px;
  box-shadow: #c12325 0 0 7px 7px;
  top: 200px;
  text-align: center;
  padding: 10px;
  background-color: #fbf583;
  transform: translateY(-200px);
  opacity: 0; }
  .flash-msg a {
    padding: 0 10px; }

.flash-msg.active {
  transform: translateY(0px);
  opacity: 0.9;
  transition: opacity 1.5s ease-out, transform 1.8s ease-out; }

.flash-msg.done {
  transform: translateY(200px);
  opacity: 0;
  transition: opacity 1.5s ease-in, transform 1.5s ease-in; }

.frame {
  border: solid #777777 1px;
  border-radius: 3px;
  box-shadow: #5ef375 0 0 2px 2px;
  margin: 10px; }
  .frame h3 {
    font-family: sans-serif;
    font-size: 12px;
    border: solid #777777 1px;
    background-color: #999999;
    border-radius: 8px;
    height: 16px;
    float: left;
    margin-top: -21px;
    margin-bottom: 0;
    padding: 2px 10px 0 10px; }

.login-form {
  padding: 10px 20px 20px 20px;
  margin-left: auto;
  margin-right: auto;
  width: 350px; }
