.gamer
  position: absolute
  width: 200px
  overflow: hidden
  border: solid #333333 2px
  padding: 12px
  margin: 5px
  background-color: #5ef375

.gamer.g0
  left: 0
  top: 0

.gamer.g1
  right: 0
  top: 0
  text-align: right

.gamer.g2
  right: 0
  text-align: right
  bottom: 30px

.gamer.g3
  left: 0
  bottom: 30px

.gamer.me
  background-color: #72a2f3

.gamer.left
  background-color: #c12325

.gamer.waiting
  background-color: #e1f36d

#lobby-title
  margin: auto auto
  border: solid #555555 2px
  border-radius: 5px
  width: 400px
  box-shadow: #5859f3 0 0 5px 2px
  padding: 10px
  font-family: sans-serif

.start-game-btn
  border-radius: 10px
  background-color: #5ef375
  padding: 0 10px
  color: #0d2a0d
  box-shadow: #5ef375 0 0 3px 1px
  display: none

.running
  #lobby-title
    box-shadow: #f3841c 0 0 15px 7px
  .start-game-btn
    display: none
  .gamer
    box-shadow: #5ef375 0 0 8px 4px

.waiting
  #lobby-title
    box-shadow: #e1f36d 0 0 7px 3px

.ready
  #lobby-title
    box-shadow: #5ef375 0 0 12px 12px
  .start-game-btn
    display: inline-block

.game
  height: 100%

.creator
  background: lightyellow
#msg-form
  position: absolute
  bottom: 10px
  width: 100%
  text-align: center
  .msg
    width: 90%
    margin: auto auto
    box-shadow: #333333 0 0 3px 3px

.message
  .msg-content
    display: inline-block
    border: solid #333333 2px
    border-radius: 5px
    padding-right: 5px
    padding-left: 5px
  //.username
  //  border: solid #5859f3 1px
.message.my
  text-align: right
  .msg-content
    background-color: #fbf583
  .username
    display: none