.lobbies-list-frame
  vertical-align: top
  width: 400px
  height: 250px
  display: inline-block
  padding: 10px

.lobbies-list-frame h3
  margin-top: 3px
  margin-bottom: 5px
.lobbies-list-wrapper
  height: 240px
  overflow-y: auto
  overflow-x: hidden
  width: 390px
  padding: 10px 10px 10px 0

ul
  padding: 0
  margin: 0

.lobby
  border-bottom: dotted #555 1px
  list-style: none
  font-family: sans-serif
  padding-top: 3px
  font-size: 13px
.cur-cnt
  float: right
  width: 23px
  text-align: right
.status
  float: right
  padding-right: 3px
  font-size: 12px
  border-right: solid #555555 1px

#top-bar
  width: 820px
  height: 20px
  margin: 10px
  padding: 10px 25px 10px 25px
  background-color: #5ef375
  color: #0d2a0d
  font-family: sans-serif
  border-radius: 20px
  .exit
    color: #0d2a0d
    float: right

#create-lobby
  padding: 10px
  width: 400px
  form
    padding: 7px
