<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>{% load static %}
<link href="{% static 'css/common.css' %}" rel="stylesheet" type="text/css"/>
{% block head %}
{% endblock %}
</head>
<body>
{% block content %}
{% endblock %}
{% load static %}
<script src="{% static "js/jquery-2.2.1.min.js" %}"></script>
<script type="application/javascript">
    var aurl = window.location.origin.split(':');
    aurl[0]= 'ws';
    while( aurl.length >=3) aurl.pop();
    aurl.push('8765');
    window.WS_BASE_URL = aurl.join(':')+'/ws';
</script>
{% block bottomjs %}
{% endblock %}
</body>
</html>